body {
  font-family: 'Segoe UI', sans-serif;
}

/* Navbar */
.navbar {
  background: #ff6f91;
}

/* Hero */
.hero {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url("images/bg-up-img.avif") center/cover;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
}

/* Section */
.section {
  padding: 70px 0;
}

/* Cake Cards */
.cake-card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.cake-card:hover {
  transform: translateY(-10px);
}

/* Order Form */
.order-form {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* CTA */
.cta {
  background: #ff6f91;
  color: white;
  padding: 60px 0;
  text-align: center;
}

/* Footer */
footer {
  background: #111;
  color: #aaa;
  padding: 20px;
  text-align: center;
}

/* WhatsApp Floating Button */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  font-size: 28px;
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;
}


/* Product Cards */
.product-card {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.product-card:hover {
  transform: translateY(-10px);
}

.price {
  color: #ff6f91;
  font-weight: bold;
}


/* Testimonials */
.testimonial-section {
  background: #ffe6ef; /* light pink */
  padding: 70px 0;
}

.testimonial-card {
  background: #fff;
  border-radius: 15px;
  padding: 30px;
  height: 100%;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
  text-align: center;
}

.testimonial-card:hover {
  transform: translateY(-8px);
}

.testimonial-card p {
  font-style: italic;
  color: #444;
}

.testimonial-card h6 {
  margin-top: 20px;
  color: #ff6f91;
  font-weight: bold;
}

.testimonial-card span {
  font-size: 14px;
  color: #888;
}
